---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1> 
  {%- endif -%}

  {{ content }}



  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">{{ page.list_title | default: "Musings" }}</h1>
    <div>
      <p> <span style=font-size:1.625em;><em>Welcome to My Blog!</em></span>
          <span style=font-weight:400;>&nbsp;&nbsp; So nice to have you here ... enjoy my musings!</span></p>
    </div>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

<!-- remove rss feed
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->

  {%- endif -%}

</div>
